<div id="HashTags" [@routerTransition] >
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("Hashtag")}}</span> <small>{{l("HashtagHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button (click)="createHashtag()" *ngIf="isGranted('Pages.Administration.Hashtag.Create')" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateHashtag")}}</button>
        </div>
    </div>
    <div id="HashtagTable"></div>
    <createOrEditHashtagModal #createOrEditHashtagModal (modalSave)="getHashtags()"></createOrEditHashtagModal>
</div>